@import "../../styles/partials/mixins.scss";

.flex__container {
  display: flex;
  align-items: center;

  &--btn {
    border: none;
    background-color: unset;
    padding-right: 4px;
  }

  &--title {
    @include pageHeader;
  }
}
