//Primary Colors
$Instock-Black:#13182C;
$Instock-Indigo:#2E66E5;
$White:#FFFFFF;

//Secondary Colors
$Slate:#5C667E;
$Cloud:#BDC5D5;

//Background-Colors
$Graphite:#232940;
$Light-Grey:#F7F8F9;

//Supporting Colors
$Green:#158463;
$Red:#C94515;