@font-face {
    font-family: "Titillium";
    src: url('../../Assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Titillium-SemiBold";
    src: url('../../Assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}