@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/titillium_web/TitilliumWeb-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium-SemiBold";
  src: url("../../assets/fonts/titillium_web/TitilliumWeb-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
