@use '../../styles/partials/mixins' as *;

.detailsContainer{
    background-color: $light-grey;
    padding: 1rem;
    color: $instock-black;
    @include flex-box(column,flex-start,flex-start);
    &__headSection{
        @include flex-box(column,center,flex-start);
        width:100%;
        margin-bottom: 1rem;
    }
    &__headSection-warehouseBox{
        @include flex-box(row,flex-start,flex-start);
        width:100%;
        padding-bottom: 1rem;
        border-bottom: 2px solid $cloud;
    }
    &__headSection-warehouseNameBox{
        @include flex-box(row,flex-start,flex-start);
        width:100%;
    }
    &__headSection-warehouseNameBox--name{
        color:$instock-black;
        padding-left:.3rem;
    }
    &__headSection-warehouseNameBox-editbox{
        @include flex-box(column,flex-end,flex-start);
        background-color: $instock-indigo;
        border-radius: 60%;
        padding:10px;
        @include tablet{
            @include flex-box(row,flex-end,flex-start);

            border-radius: 10%;
        }
        @include desktop{
            @include flex-box(row,flex-end,flex-start);
            border-radius: 10%;
            color:$light-grey;
        }
    }

    &__headSection-warehouseNameBox--edit{
        path{fill:$white !important;}
    }
    &__headSection-warehouseNameBox-editbox-text{
        padding-left: .3rem;
        color:$light-grey;

    }
    &__headSection-warehouseDetails{
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 13px;
        border-bottom: 2px solid $cloud;
        width:100%;
        @include flex-box(column,flex-start,flex-start);

        @include tablet{
            @include flex-box(row,flex-start,flex-start);
        }
        @include desktop{
            @include flex-box(row,flex-start,flex-start);
        }
    }
    &__headSection-warehouseDetails-addressInfo{
        padding-bottom: 1rem;
        padding-top: 1rem;
        @include tablet{
            width:100%;        }
        @include desktop{
            width:100%;
        }
    }
    &__headSection-warehouseDetails-info-lbl{
        color:$slate;
        padding-bottom: .2rem;
    }
    &__headSection-warehouseDetails-contactInfoBox{
        padding-top: 1rem;
        width:100%;
        @include flex-box(row,flex-start,flex-start);
    }
    &__headSection-warehouseDetails-contactInfoBox-contactInfo{
        @include flex-box(column,flex-start,flex-start);
        width:50%;  
    }
    &__main-headingSection{
        @include flex-box(row,flex-start,flex-start);
        width:100%;
    }
    &__main-headingSection--heading{
        width:20%;
        @include flex-box(row,flex-start,flex-start);
        color: $slate;
    }
}
@media (max-width: 768px) {
    .detailsContainer__main-headingSection {
      display: none; /* Hide the heading section */
    }
}
@media(max-width: 768px){
    .detailsContainer__headSection-warehouseNameBox-editbox-text{
        display:none;
    }
}