@import "../../styles/partials/mixins";

.warehouseContainer {
  margin: 0 16px;
  list-style: none;
  box-shadow: 0 2px 5px 0 rgba(19,24,44, 0.1);

  li {
    border-bottom: 1px solid $cloud;
  }

  h3 {
    font-weight: 600;
    @include labelText;
    color: $instock-indigo;
  }
  
  h4 {
    font-weight: 600;
    @include tableHeader;
    color: $slate;
  }

  p {
    font-weight: 400;
    @include bodyMedium;
    color: $instock-black;
  }
}

.warehouseContainer_top {
  display: flex;
  padding-top:16px;
  padding-bottom: 16px;
  .warehouseNameContainer {
    flex: 0 1 45%;
    padding-left: 24px;
  }
  .warehouseName{
    display: flex;
  }
}

.warehouseContainer_mid {
  display: flex;
  padding-bottom: 16px;
  .warehouseAddress {
    flex: 0 1 45%;
    padding-left: 24px;
  }
}

.warehouseIcon {
  display: flex;
  &__delete {
    padding-left: 24px;
    flex: 0 1 80%;
  }
}