@import "../../styles/partials/breakpoints";
@import "../../styles/partials/color";
@import "../../styles/partials/fonts";

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: $Graphite;
  height: 200px;

  .logoContainer {
    display: flex;
    justify-content: center;

    @include tablet {
      padding-left: 32px;
    }

    @include tablet {
        padding-left: 64px;
    }
  }

  .logo {
    width: 128.6px;
    height: 28px;
    margin: 24px 0;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
  }
}

.nav_container {
  color: $Cloud;
  margin: 0 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include tablet {
    margin: 0 32px;
  }

  @include desktop {
    margin: 0 64px;
  }
  
  .warehouseTab {
    display: flex;
    justify-content: center;
    width: 164px;

    @include tablet {
      width: 100px;
    }
  }
  .inventoryTab {
    display: flex;
    justify-content: center;
    width: 164px;

    @include tablet {
      width: 100px;
    }
  }
  h3 {
    font-family: "Titillium";
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;

    @include tablet {
      font-size: 14px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .active {
    background-color: $Instock-Black;
    color: $White;
    border-radius: 20px;
    padding: 10px 0;
  }
}
