@import "../../styles/partials/breakpoints";
@import "../../styles/partials/color";
@import "../../styles/partials/fonts";

.footer {
    font-family: "Titillium";
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: $Slate;
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @include tablet {
        font-size: 12px;
    }
}